

.section {
  margin-top: 270px;
}

.name {
  font-size: 60px;
  font-weight: 250;

  position: absolute;
  right: 58px;
  transform: translateY(-130px);
}

.profile {
  width: 577px;
  height: 577px;

  border-radius: 50%;
  overflow: hidden;

  position: relative;
  background: var(--color-yellow);

  & img {
    max-height: 100%;

    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.information {
  margin: 0 0 0 760px;

  &_text {
    width: 775px;

    border-radius: 21px;
    border: 3px dashed #E6BA38;

    padding: 28px;
  }
}

.gradient {
  position: absolute;
  left: 0;

  transform: translateY(-200px);
}

.typescript {
  position: absolute;
  left: -50px;
  top: 1200px;
}

.javascript {
  position: absolute;
  left: 486px;
  top: 2200px;
}



