

.section {
  margin-top: 16.875em;
  padding-bottom: 9.375em;
}

.name {
  font-size: 3.75em;
  font-weight: 250;

  position: absolute;
  right: 0.966em;
  transform: translateY(-2.166em);
}

.profile {
  width: 36.062em;
  height: 36.062em;

  border-radius: 50%;
  overflow: hidden;

  position: relative;
  background: var(--color-yellow);

  & img {
    height: 100%;

    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.content {

}

.information {
  padding-top: 2.5em;

  &_text {
    width: 32.291em;
    padding: 0.958em;

    font-size: 1.5em;

    margin-top: 6.1em;
    line-height: 1.35;

    position: relative;
    clip-path: inset(0 round 0.625em 0.625em 0.625em 0.625em);

    &::before {
      content: "";
      position: absolute;
      left: -0.291em; // 7
      top: -0.291em;
      right: -0.291em;
      bottom: -0.291em;
      border: 0.416em dashed var(--color-yellow); // 10
      border-radius: var(--border-radius-md);
      box-sizing: border-box;
    }
  }
}

.gradient {
  position: absolute;
  left: 0;

  transform: translateY(-12.5em); // 1229  1060
  width: 76.8125em;
  height: 66.25em;

  img {
    width: 100%;
  }
}

.typescript {
  position: absolute;
  left: -4em;
  top: 75em;
  width: 8.9375em;
  height: 8.9375em;

  img {
    width: 100%;
  }
}

.javascript {
  position: absolute;
  left: 30.375em;
  top: 110.625em;
  width: 8em;
  height: 8em;

  img {
    width: 100%;
  }
}

.specialization {
  position: absolute;
  right: -2.25em;
  top: 35.3em;
  transform: rotate(90deg);
  color: var(--color-yellow);
  font-size: 2.5em;
  letter-spacing: 0.415em;
  text-transform: uppercase;
  font-weight: 300;
}

.block {
  width: 11.5em;
  height: 11.5em;

  background: white;
  border-radius: 1.4375em;

  position: relative;

  &_big {
    animation: 1.5s linear change_size;
  }
}

.line {
  position: relative;
  top: 2.0625em;
  width: 9.625em;
  height: 0.8125em;
  border-radius: 0.1875em;
  margin-left: 1em;
  background: #D9D9D9;
}

.line_1 {
  top: 2.0625em;
  width: 5em;
}

.line_2 {
  top: 3.75em;
}

.line_3 {
  top: 5.5625em;
}

.line_4 {
  top: 6.6875em;
  height: 1.375em;
}


.circle {
  position: absolute;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  background: #D9D9D9;
  right: 1em;
  top: 1.75em;
}

.illustration {
  display: flex;
  gap: 4.25em;
  width: 45em;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 70em;
  right: 13.75em;
}

@keyframes change_size {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}


