.title {
  font-weight: bold;
  font-size: 64px;

  margin: 218px 0 0 -35px;
}

.section {
  margin-left: 100px;
}

.arrow {
  width: 98px;
}

.keywords {
  margin: 100px 0 0 0;
  display: flex;

  flex-wrap: wrap;
  gap: 23px;
  row-gap: 30px;

  width: 700px;
}

.keyword {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-yellow);

  border-radius: 17px;
  border: 2px solid var(--color-yellow);

  display: inline-block;
  padding: 17px;
}

.tagline {
  font-size: 26px;
  width: 570px;
  margin: 165px 0 0 3px
}

.nav_arrow {
  margin: 52px 0 0 3px;

  display: flex;
  align-items: center;
  gap: 30px;

  &_bg {
    width: 145px;
    height: 145px;

    background: var(--color-yellow);
    border-radius: 50%;

    position: relative;

    img {
      width: 100px;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &_yellow {
    color: var(--color-yellow);
  }

  &_text {
    font-weight: bold;
    font-size: 48px;
  }
}

.desktop {
  position: absolute;
  top: 65px;
  right: 131px;

  width: 860px;
}



