@keyframes blur {
  0% {
    filter: blur(3.125em);
  }

  50% {
    filter: blur(3.75em);
    opacity: 0.5;
  }

  100% {
    filter: blur(3.125em);
  }
}

.section {
  padding-top: 3.125em;
  // padding-bottom: 100px;
}

.section__title {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  margin-left: 75%;
}

.section__human {
  margin-top: 5em;

  width: 0;
  height: 0;

  border-left: 18.125em solid transparent;
  border-right: 18.125em solid transparent;
  border-bottom: 32.1875em solid var(--color-red);
  border-radius: var(--border-radius-md);

  border-radius: 1.875em;
}

.section__left {
  position: relative;

  &::after {
    content: "";
    position: absolute;

    left: 23%;
    bottom: 0;
    // top: 7.5%;

    width: 20.875em;
    height: 33.3125em;

    background-image: url("../../images/Section3/Zarina.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transform-style: preserve-3d;
  }

  &::before {
    content: "";
    position: absolute;
    top: -15%;
    left: 15%;
    width: 31.25em;
    height: 56.25em;
    background: var(--color-red);
    transform: translateZ(-0.0625em) rotate(135deg);
    opacity: 0.8;
    border-radius: 568.0625em 19.375em 16.875em 45.625em;
    filter: blur(3.75em);

    animation-name: blur;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
}

.section__wrapper {
  display: flex;
  justify-content: space-between;
}

.section__right {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-right: 6.25em;

  .section__google {
    display: flex;
    flex-direction: column;

    img {
      width: 50em;
      height: 25em;
      object-fit: contain;
    }

    input {
      // width: 100%;
      // margin-left: -120px;
      font-size: 1.5em;
      padding: 0.8333em 2.0833em;
      border-radius: 5.7083em;
      background: var(--color-light-black);
      color: var(--color-white);
      box-shadow: 0 0 0.1666em 0.125em rgba(0, 0, 0, 0.25);
      letter-spacing: 0.0833em;
    }
  }

  &::before {
    content: 'PYTHON';
    position: absolute;
    text-transform: uppercase;
    transform: rotate(90deg);
    right: -30%;
    bottom: 60%;
    font-size: 2.5em;
    font-weight: 200;
    letter-spacing: 0.415em;
    color: var(--color-red);
  }
}

.section__about {
  margin-top: 4.1666em;
  display: inline-flex;
  position: relative;
  clip-path: inset(0 round 0.625em 0.625em 0.625em 0.625em);
  font-size: 1.5em;

  &::before {
    content: "";
    position: absolute;
    left: -0.2916em;
    top: -0.2916em;
    right: -0.2916em;
    bottom: -0.2916em;
    border: 0.4166em dashed var(--color-red);
    border-radius: var(--border-radius-md);
    box-sizing: border-box;
  }

  p {
    width: 33.9583em;
    padding: 0.9583em;
  }
}
