.footer {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1.5em;

  p {
    font-family: "eEasyOatmeal", sans-serif;
    font-size: 6.25em;
  }
}

.footer__left {
  margin-top: 6em;

  img {
    margin-top: 3.5em;
  }

  .footer__left__text {
    display: flex;
    justify-content: space-between;

    h1:last-child {
      font-size: 14.8125em;
      transform: rotate(71deg);
    }
  }

  .footer__left__bottom {
    margin-top: 1em;
    line-height: 1.5;
    font-size: 3.125em;
    padding-left: 1em;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 0.04em;
      height: 100%;
      background: var(--color-white);
      left: 0;
    }
  }
}

.footer__right {
  img {
    margin-top: 3.5em;
  }

  h1:first-child {
    text-align: right;
  }


  h1:last-child {
    margin-top: 0.5em;
  }
}

.all {
  width: 58.625em;
  height: 33.875em;
}

.devs {
  width: 42.625em;
  height: 53.6875em;
}

