@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Thin.eot');
  src: local('Poppins Thin'), local('Poppins-Thin'),
  url('../../public/fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Poppins-Thin.woff2') format('woff2'),
  url('../../public/fonts/Poppins-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Regular.eot');
  src: local('Poppins Regular'), local('Poppins-Regular'),
  url('../../public/fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Poppins-Regular.woff2') format('woff2'),
  url('../../public/fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-SemiBold.eot');
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
  url('../../public/fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Poppins-SemiBold.woff2') format('woff2'),
  url('../../public/fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Medium.eot');
  src: local('Poppins Medium'), local('Poppins-Medium'),
  url('../../public/fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Poppins-Medium.woff2') format('woff2'),
  url('../../public/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Black.eot');
  src: local('Poppins Black'), local('Poppins-Black'),
  url('../../public/fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Poppins-Black.woff2') format('woff2'),
  url('../../public/fonts/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Bold.eot');
  src: local('Poppins Bold'), local('Poppins-Bold'),
  url('../../public/fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Poppins-Bold.woff2') format('woff2'),
  url('../../public/fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-ExtraBold.eot');
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
  url('../../public/fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Poppins-ExtraBold.woff2') format('woff2'),
  url('../../public/fonts/Poppins-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/fonts/Poppins-Light.eot');
  src: local('Poppins Light'), local('Poppins-Light'),
  url('../../public/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
  url('../../public/fonts/Poppins-Light.woff2') format('woff2'),
  url('../../public/fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
