:root {
  --color-black: #120f0f;
  --color-purple: #661374;
  --color-yellow: #e6ba38;
  --color-gray: #d9d9d9;
  --color-white: #fff;
  --color-red: #c94949;
  --color-light-black: #303134;

  --border-radius-sm: 10px;
  --border-radius-md: 23px;
  --border-radius-lg: 27px;

  --trasition: 0.2s ease;

  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-10: 10;
  --z-index-100: 100;
}
